<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="theme-color" content="#000000"/>
    <title>The Watcher / City</title>
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/city.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body id="view">
    <h1>City</h1>
    <div id="makeFull">full</div>
    <div id="vidHolder">
      <video class="make-wide" src="img/city/CITY_LOOP.mp4" loop autoplay muted></video>
      
    </div>
    <script src="js/city.js" charset="utf-8"></script>
  </body>
</html>
