<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="theme-color" content="#000000"/>
    <title>The Watcher / POV</title>
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/ads.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/screenfull.js"></script>
  </head>
  <body id="view">
    <div id="makeFull">full</div>
    <div id="adContainer1" class="adCont">
      
    </div>
    <div id="adContainer2" class="adCont">
      
    </div>
    <div id="adContainer3" class="adCont">
      
    </div>
    
    <script src="js/ads.js" charset="utf-8"></script>
  </body>
</html>
